
@media (pointer: coarse) {
    body {
        font-family: Arial, sans-serif;
        font-size: 250%;
    }

    table.mainTable {
        margin: 0.5em;
        border-collapse: collapse;
        width: calc( 100% - 1em);
    }

    td.name {
        width: 100%;
    }

    td.nameBasket {
        width: 100%;
        text-decoration-line: line-through;
        text-decoration-thickness: 15%;
    }
}

@media (pointer: fine) {
    body {
        font-family: Arial, sans-serif;
        font-size: 150%;
    }

    table.mainTable {
        border-collapse: collapse;
    }

    td.name {
        padding-right: 1em;
    }

    td.nameBasket {
        text-decoration-line: line-through;
        text-decoration-thickness: 15%;
    }
}

td.car {
    text-align: center;
}

img.list {
    width: 1.2em;
    position: relative;
    top: 0.1em;
}

img.normal {
    width: 1.75em;
}

td {
    padding: 0.3em;
}

th {
    padding: 0.3em;
    text-align: left;
}

button, input, select {
    font-family: Arial, sans-serif;
    font-size:inherit
}

button.dialog {
    margin-right: 1em;
}

input.value, select.value {
    width: 13em;
}

td.number {
    text-align: right;
}

div.addItem {
    border-style: solid;
    border-color: darkgray;
    background-color: white;
    padding: 1em;
    visibility: hidden;
    position: fixed;
    top: 20%;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    z-index: 5;
}

