
@media (pointer: coarse) {
    body {
        font-family: Arial, sans-serif;
        font-size: 250%;
    }

    table.mainTable {
        margin: 0.5em;
        border-collapse: collapse;
        width: calc( 100% - 1em);
    }

    td.name {
        width: 100%;
    }

    td.nameBasket {
        width: 100%;
        text-decoration-line: line-through;
        text-decoration-thickness: 15%;
        text-decoration-color: rgba(255, 0, 0, 0.5);
    }

    td.pcOnly, th.pcOnly {
        visibility: hidden;
        font-size: 0;
        width: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }

    div.addItem {
        border-style: solid;
        border-color: darkgray;
        background-color: white;
        padding: 1.5em 0.5em 0.5em 0.5em;
        visibility: hidden;
        position: fixed;
        top: 20%;
        left: 50%;
        width: 85%;
        margin-left: -45%;
        z-index: 5;
    }
}

@media (pointer: fine) {
    body {
        font-family: Arial, sans-serif;
        font-size: 150%;
    }

    table.mainTable {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    td.name {
        padding-right: 1em;
    }

    td.nameBasket {
        text-decoration-line: line-through;
        text-decoration-thickness: 15%;
        text-decoration-color: rgba(255, 0, 0, 0.5);
    }

    div.addItem {
        border-style: solid;
        border-color: darkgray;
        background-color: white;
        padding: 1em;
        visibility: hidden;
        position: fixed;
        top: 20%;
        left: 50%;
        width: 20em;
        margin-left: -10em;
        z-index: 5;
    }
}

div.buttonRow {
    margin-top: 1em;
    width: 100%;
    text-align: right;
}

img.buttonRow {
    width: 1.75em;
    padding-left: 3em;
}

.error {
    color: red;
}

td.car {
    text-align: center;
}

img.list {
    width: 1.2em;
    position: relative;
    top: 0.1em;
}

img.normal {
    width: 1.75em;
}

img.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.75em;
}

td {
    padding: 0.3em;
}

th {
    padding: 0.3em;
    text-align: left;
}

button, input, select {
    font-family: Arial, sans-serif;
    font-size:inherit
}

input.value, select.value {
    width: 12em;
}

td.selectNumber {
    width: 1%;
}

td.number {
    text-align: right;
}

