<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hinzufügen</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script type="text/javascript" src="/assets/popup.js"></script>
</head>
<body>

<p>Neuer Artikel</p>

<form action="/add/" method="post">
  <table>
     <tr>
       <td><label for="name">Name:</label></td>
       <td><input class="value" type="text" id="name" name="name" placeholder="Name" value="{{.Name}}"/></td>
     </tr>
     <tr>
       <td><label for="unit">Einheit:</label></td>
       <td><input class="value" type="text" id="unit" name="unit" placeholder="Einheit z.B. 'Dose'" value="{{.Unit}}"/></td>
     </tr>
     <tr>
       <td><label for="category">Kategorie:</label></td>
       <td>
         <select id="category" name="category">
           {{range .Categories}}
           <option value="{{.}}">{{.}}</option>
           {{end}}
         </select>
       </td>
     </tr>
     {{if not .QHidden}}
     <tr>
       <td><label for="quantity">Anzahl:</label></td>
       <td><input class="value" type="number" id="quantity" name="quantity" placeholder="Anzahl" value="{{.Quantity}}"/></td>
     </tr>
     {{end}}
     <tr>
       <td><label for="weight">Gewicht:</label></td>
       <td><input class="value" id="weight" name="weight" placeholder="Gewicht in g" value="{{.Weight}}"/></td>
       <td>g</td>
     </tr>
     <tr>
       <td><label for="volume">Volumen:</label></td>
       <td><input class="value" id="volume" name="volume" placeholder="Volumen in ml" value="{{.Volume}}"/></td>
       <td>ml</td>
     </tr>
  </table>
  {{if .Error}}
    <p class="error">{{.Error}}</p>
  {{end}}

  <a href="/"><button type="button">Abbrechen</button></a>
  <input type="submit" value="Hinzufügen">
  {{if .QHidden}}
  <input type="hidden" name="quantity" value="{{.Quantity}}"/>
  {{end}}

    <datalist id="units">
        <option value="Stück">
        <option value="Liter">
        <option value="Paket">
        <option value="Glas">
        <option value="Dose">
        <option value="Tüte">
    </datalist>

</form>

</body>
</html>