<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Bearbeiten</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script type="text/javascript" src="/assets/popup.js"></script>
</head>
<body>

<p>Artikel bearbeiten</p>

<form action="/edit/" method="post">
  <table>
     <tr>
       <td><label for="name">Name:</label></td>
       <td><input class="value" type="text" id="name" name="name" placeholder="Name" value="{{.Item.Name}}"/></td>
     </tr>
     <tr>
       <td><label for="unit">Einheit:</label></td>
       <td><input class="value" lost="units" id="unit" name="unit" placeholder="Einheit z.B. 'Dose'" value="{{.Item.Unit}}"/></td>
     </tr>
     <tr>
       <td><label for="category">Kategorie:</label></td>
       <td>
         {{ $cat := .Item.Category }}
         <select id="category" name="category">
           {{range .Categories}}
           <option value="{{.}}"{{if eq . $cat}} selected="selected"{{end}}>{{.}}</option>
           {{end}}
         </select>
       </td>
     </tr>
     <tr>
       <td><label for="weight">Gewicht:</label></td>
       <td><input class="value" id="weight" name="weight" placeholder="Gewicht in g" value="{{.Item.WeightStr}}"/></td>
       <td>g</td>
     </tr>
     <tr>
       <td><label for="volume">Volumen:</label></td>
       <td><input class="value" id="volume" name="volume" placeholder="Volumen in ml" value="{{.Item.VolumeStr}}"/></td>
       <td>ml</td>
     </tr>
  </table>

  {{if .Error}}
    <p class="error">{{.Error}}</p>
  {{end}}

  <p>
  <a href="/listAll"><button type="button">Abbrechen</button></a>
  <input type="submit" value="Ändern"/>
  </p>
  <input type="hidden" name="id" value="{{.Id}}"/>
</form>

<div style="color:red;border:2px solid red;margin:0.5em;padding-left:1em;;padding-right:1em;">
<p>
Gefahrenzone!
</p>
<p>
  <button type="button" onclick="showPopUpById('delete')" title="Artikel komplett entfernen">Löschen</button>
</p>
</div>

<div id="delete" class="addItem">
Wirklich '{{.Item.Name}}' unwiederbringlich löschen?<br><br>
 <button onclick="hidePopUp();">Abbrechen</button>
 <a href="/listAll?del={{.Id}}"><button type="button">Löschen</button></a>
</div>

</body>
</html>