<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script type="text/javascript" src="/assets/listAll.js"></script>
</head>
<body>

<table>
    <tr>
      <td colspan="6" style="font-size:115%;font-weight:bold;"><a href="/"><img class="list" src="/assets/back.svg" title="Einkaufsliste"></a> Alle {{len .}} Einträge</td>
    </tr>
      <tr>
        <th>Name</th>
        <th></th>
        <th>N</th>
        <th></th>
        <th>Einheit</th>
        <th>Kategorie</th>
        <th class="pcOnly">Gew.</th>
        <th class="pcOnly">Vol.</th>
      </tr>
    {{range $i,$e := . }}
      <tr>
        <td>{{$e.Name}}</td>
        <td><img class="list" onclick="modify({{$i}},-1)" src="/assets/sub.svg"></td>
        <td class="number" id="q{{$i}}">{{$e.QuantityRequired}}</td>
        <td><img class="list" onclick="modify({{$i}},1)" src="/assets/add.svg"></td>
        <td>{{$e.Unit}}</td>
        <td>{{$e.Category}}</td>
        <td class="number pcOnly">{{$e.Weight}}</td>
        <td class="number pcOnly">{{$e.Volume}}</td>
        <td class="pcOnly"><a href="/edit/?item={{$i}}"><img class="list" src="/assets/edit.svg" title="Bearbeiten"></a></td>
      </tr>
    {{end}}
</table>
</body>
</html>