<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <script type="text/javascript" src="/assets/main.js"></script>
</head>
<body>

<table>
    <tr>
      <td colspan="5" style="font-size:115%;font-weight:bold;">Alle {{len .}} Einträge</td>
      <td><a href="/"><img class="list" src="/assets/back.svg" title="Einkaufsliste"></a></td>
    </tr>
      <tr>
        <th>Name</th>
        <th>Einheit</th>
        <th>Kategorie</th>
        <th>Gew.</th>
        <th>Vol.</th>
      </tr>
    {{range $i,$e := . }}
      <tr>
        <td>{{$e.Name}}</td>
        <td>{{$e.Unit}}</td>
        <td>{{$e.Category}}</td>
        <td class="number">{{$e.Weight}}</td>
        <td class="number">{{$e.Volume}}</td>
        <td><a href="/edit/?item={{$i}}"><img class="list" src="/assets/edit.svg" title="Bearbeiten"></a></td>
      </tr>
    {{end}}
</table>
</body>
</html>