    <tr>
      <td><a href="/listAll"><img class="list" src="/assets/icon.svg" title="Bearbeiten"></a></td>
      <td colspan="3" style="font-size:115%;font-weight:bold;">Einkaufszettel</td>
      <td><img class="normal" onclick="showPopUpById('addItem')" src="/assets/add.svg" title="Artikel hinzufügen"></td>
    </tr>
    {{$lastCat := ""}}
    {{$hide := .HideCart}}
    {{range $i,$e := .Items }}
      {{- if gt $e.QuantityRequired 0.0 -}}
        {{- if not (and $hide $e.Basket) -}}
          {{- if not (eq $e.Category $lastCat) -}}
          <tr><th colspan="5">{{$e.Category}}</th></tr>
          {{- end}}
          <tr>
            <td><img id="del_{{$i}}" class="list" src="/assets/delete.svg" title="Entfernen" onclick="deleteItemRequest({{$i}}, '{{$e.Name}}');"></td>
            <td {{if $e.Basket}}class="nameBasket"{{else}}class="name"{{end}}>{{$e.Name}}</td>
            <td class="number" onclick="showSetQuantity('{{$e.Name}}', '{{$e.QuantityRequired}}',{{$i}});">{{$e.QuantityRequired}}</td>
            <td>{{$e.Unit}}</td>
            <td class="car"><img id="car_{{$i}}" class="list" src="/assets/sCar.svg" onclick="updateItem({{$i}},'car');"></td>
          </tr>
          {{- $lastCat = $e.Category -}}
        {{- end -}}
      {{- end -}}
    {{end}}

    <tr>
    {{$total := .Items.Total}}
    <td style="padding-top: 1em; padding-bottom: 1em;" colspan="5">Gewicht: {{printf "%1.1f" $total.Weight}} kg / Volumen: {{printf "%1.1f" $total.Volume}} l</td>
    </tr>

    {{if .Items.SomethingHidden}}
    <tr>
    <td>
      {{if .HideCart}}<img class="list" onclick="updateTable('h=0')" src="/assets/eye.svg" title="Zeige Alles">
      {{else        }}<img class="list" onclick="updateTable('h=1')" src="/assets/eye-slash.svg" title="Zeige nur Fehlendes">{{end}}
    </td>
    <td colspan="3"></td><td>
      <img class="normal" onclick="showPopUpById('payed')" src="/assets/register.svg" title="Bezahlt">
    </td>
    </tr>
    {{end}}
